extends layout
block content
  .dashhead
    .dashhead-titles
      h6.dashhead-subtitle Contacts
      h2.dashhead-title List
    .btn-toolbar.dashhead-toolbar
      .btn-group
        a.btn.btn-primary-outline(href='/admin/contact', type='button')
          | New Contact
          span.icon.icon-plus

   .flextable.table-actions
    .flextable-item.flextable-primary
      .btn-toolbar-item.input-with-icon
        input.form-control.input-block.model_search(type='text', placeholder='Search Contacts')
        span.icon.icon-magnifying-glass
    .flextable-item
    br
    .panel.panel-primary(style='max-width: 823px;')
      .panel-heading.text-center
        h3 Contacts
      table.table.table-responsive.table-hover.table-bordered
        thead
          tr
            th.text-center Name
            th.text-center Email
            th.text-center Date Recieved
            th.text-center Message
            th.text-center(colspan='2') Options
        tbody
        each contact in contacts
          tr
            td=contact.name
            td=contact.email
            td=contact.created.toDateString()
            td=contact.message
            td
              a.btn.btn-primary-outline.btn-sm(href='/admin/contact/#{contact._id}')
                | View
                span.icon.icon-user
            td
              a.btn.btn-primary-outline.btn-sm(href='/admin/contact/delete/#{contact._id}')
                 | Delete
                 span.icon.icon-erase
