extends layout
block content
  form(method="POST" action="/admin/fund")
    input(type="hidden" name="_id" value=fund.id)
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Dashboards
        h2.dashhead-title Funds
      .btn-toolbar.dashhead-toolbar
        button.btn.btn-primary-outline Save Fund
    hr.m-t
    section
      blockquote
        | Current price: #{price.price}
    section.content-header
      #field_name.field.row
        .col-md-12
          .form-group
            label Name
            input.form-control(type="text" name="name" placeholder="Name" value=fund.name)
          // /.form-group
        // /.col
      // /.row
      #field_symbol.field.row
        .col-md-12
          .form-group
            label Symbol
            input.form-control(type="text" name="symbol" placeholder="Symbol" value=fund.symbol)
          // /.form-group
      // /.row
      #field_asset_class.field.row
        .col-md-12
          .form-group
            label Asset Class
            input.form-control(type="text" name="asset_class" placeholder="Asset class" value=fund.asset_class)
          // /.form-group
        // /.col
      // /.row
    section
      .statcard.statcard-success
        .p-a
          span.statcard-desc Page views
          h2.statcard-number
            | 12,938
            small.delta-indicator.delta-positive 5%
          hr.statcard-hr.m-b-0
        canvas#sparkline1.sparkline(width='378', height='94', data-chart='spark-line', data-value='[{data:[28,68,41,43,96,45,100]}]', data-labels="['a','b','c','d','e','f','g']", style='width: 189px; height: 47px;')