extends layout
block content
  form(method="POST" action="/admin/product")
    input(type="hidden" name="_id" value=product._id)
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Product
        h2.dashhead-title New/Edit Product
      .btn-toolbar.dashhead-toolbar
        button.btn.btn-primary-outline Save Product
        //
          <div class="btn-toolbar-item input-with-icon">
          <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
          </div>
    hr.m-t
    section.content-header
      #field_name.field.row
        .col-md-12
          .form-group
            label Product Name
            input.form-control(type="text" name="name" placeholder="product name" value=product.name)
          // /.form-group
        // /.col
      // /.row
      #field_price.field.row
        .col-md-12
          .form-group
            label Price ($)
            input.form-control(type="text" name="price" placeholder="Price" value=product.price)
          // /.form-group
        // /.col
      // /.row
      #field_description.field.row
        .col-md-12
          .form-group
            label Description
            input.form-control(type="text" name="description" placeholder="Description" value=product.description)
          // /.form-group
        // /.col
      // /.row
      #field_imageURL.field.row
        .col-md-12
          .form-group
            label Image URL
            input.form-control(type="text" name="image_url" placeholder="image URL" value=product.image_url)
          // /.form-group
        // /.col
      // /.row

block scripts
  script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
