extends layout
block content
  form(method="POST" action="/admin/project/#{p._id}")
    input(type="hidden" name="_id" value=p._id)
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Project
        h2.dashhead-title Edit Project
      .btn-toolbar.dashhead-toolbar
        button.btn.btn-primary-outline Save Project
        //
          <div class="btn-toolbar-item input-with-icon">
          <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
          </div>
    hr.m-t
    section.content-header
      #field_name.field.row
        .col-md-12
          .form-group
            label Project Name
            input.form-control(type="text" name="name" value=p.name)
          // /.form-group
        // /.col
      // /.row
      #field_tagLine.field.row
        .col-md-12
          .form-group
            label Tag Line
            input.form-control(type="text" name="tag_line" value=p.tag_line)
          // /.form-group
        // /.col
      // /.row
      #field_description.field.row
        .col-md-12
          .form-group
            label Description
            input.form-control(type="text" name="description" value=p.description)
          // /.form-group
        // /.col
      // /.row
      #field_logoURL.field.row
        .col-md-12
          .form-group
            label Logo URL
            input.form-control(type="text" name="logo_url" value=p.logo_url)
          // /.form-group
        // /.col
      // /.row


block scripts
  script(src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")