extends layout
block content
  form(method="POST" action="/admin/user")
    input(type="hidden" name="_id" value=user._id)
    .dashhead
      .dashhead-titles
        h6.dashhead-subtitle Dashboards
        h2.dashhead-title Users
      .btn-toolbar.dashhead-toolbar
        button.btn.btn-primary-outline Save User
        //
          <div class="btn-toolbar-item input-with-icon">
          <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
          </div>
    hr.m-t
    section.content-header
      #field_email.field.row
        .col-md-12
          .form-group
            label Email
            input.form-control(type="text" name="email" placeholder="Email" value=user.email)
          // /.form-group
        // /.col
      // /.row
      #field_name.field.row
        .col-md-12
          .form-group
            label Name
            input.form-control(type="text" name="profile[name]" placeholder="Name" value=user.profile? user.profile.name: '')
          // /.form-group
      // /.row
      #field_role.field.row
        .col-md-12
          .form-group
            label Role
            select.form-control(name="role")
              for role in ['member','admin']
                option(selected=role==user.role) #{role}
          // /.form-group
        // /.col
      // /.row
      #field_password.field.row
        .col-md-12
          .form-group
            label Password
            input.form-control(type="text" name="password" placeholder="password")
          // /.form-group
        // /.col
      // /.row
      #field_password_confirmation.field.row
        .col-md-12
          .form-group
            label Password Confirmation
            input.form-control(type="text" name="confirmPassword" placeholder="password confirmation")
          // /.form-group
        // /.col
      // /.row

