extends layout
block content
  article.post
    header.post-header
    each post in e
      a(href='/blog/post/#{post._id}')
        h1.post-title=post.title
      header.post-meta(style='margin-bottom:60px;')
      p.post-date=post.date
      section.post-content!=post.content
      br

      p Post by: #{post.userID}
      br


