extends layout
style.
  body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
  .mainContainer{

  }
  #image {
    max-width: 100px !important;

  }

block content
  .row
    each project in P
      .col-lg-4.col-sm-6.text-center(style="height: 400px")
        .preview
          .image.text-center
            a(href=project.project_url)
              img.img-responsive(src=project.logo_url, alt='logo image' style="height: 100px; margin: 0 auto")
          .options
            h3=project.name
            p=project.description
            .btn-group
              a.btn.btn-success(href=project.project_url)
                | Visit   
                i.fa.fa-external-link

script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
