extends layout

block content
  p.text-xs-center
    | Personal site starter for express developers.
  p
    a.btn.btn-block.btn-social.btn-github(href='http://github.com/uptownhr/hackathon-starter-lite')
      i.fa.btn-xs.fa-github
      |  View on Github

  .card-deck-wrapper
    .card-deck
      each project in projects
        .card
          h4.card-header
            a(href=project.project_url)=project.name
          .card-block
            a(href=project.project_url)
              img.img-circle.card-img-top(src=project.logo_url, style="margin: 0 auto; max-height: 100%")

    //
      .col-lg-4.col-sm-6.text-center(style="height: 400px")
        .preview
          .image.text-center
            a(href=project.project_url)
              img.img-responsive(src=project.logo_url, alt='logo image' style="height: 100px; margin: 0 auto")
          .options
            h3=project.name
            p=project.description
            .btn-group
              a.btn.btn-success(href=project.project_url)
                | Visit   
                i.fa.fa-external-link
  p
  .card-deck-wrapper
    .card-deck
      each product in products
        .card
          h4.card-header
            a(href=product.product_url)=product.name
          .card-block            
            a(href=product.product_url)
              img.img-circle.card-img-top(src=product.image_url, style="margin: 0 auto; max-height: 100%")
            
            p.text-xs-center $ #{product.price}
            p.text-xs-center=product.description
            p
              form(action="/charge", method="POST", style='text-align: center')
                input(type="hidden", name="id", value="#{product._id}")
                script(
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="#{stripe}"
                  data-amount="#{product.price * 100}"
                  data-name="#{product.name}"
                  data-description="#{product.description}"
                  data-image="#{product.image_url}"
                  data-locale="auto"
                )